@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServerSite4.Models.Blocks.TopNavViewModel

<div>
    @if (Model.PageChildren.Any())
    {
        @* Render nav menu items *@
        <ul>
            @foreach (var page in Model.PageChildren)
            {
                <li>@Html.ContentLink(page)</li>
            }
        </ul>
    }
</div>
